{
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended",
      "prettier"
    ],
    "parserOptions": {
      "ecmaVersion": 2017
    },
    "rules": {
      "prettier/prettier": "error",
      "no-param-reassign": 0,
      "func-names": "off",
      "no-non-null-assertion": 0
    },
    "env": {
      "es6": true,
      "browser": true,
      "node": true
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".ts"]
        }
      }
    }
}